.booking {
width: 100%;
margin: 70px auto;
}
.booking .from {
    background-color: #fff;
    /* width: 40%; */
  width: 40%;
  margin: auto;
    border-radius: 40px;
    position: relative;
 box-shadow: 4px 10px 20px rgb(223, 199, 199);
z-index: 1;

}
.booking .from::before {
    content: '';
    border-left: 2px solid var(--main-color);
    border-top: 2px solid var(--main-color);
    border-radius: 40px; 
    position: absolute;

height: 100%;
    left: -20px;
   
    top: -20px;
    width: 100%;
z-index: -2;
}
.booking .from h1 {
    color: var(--main-color);
    text-align: center;
   
    font-weight: 700;
    margin: 40px 0 20px 0;
    

}
.booking .from select {
    display: block;
    width: 80%;
    margin: auto;
    border: 1px solid rgba(47, 47, 134, 0.63);
    padding: 15px 25px;
    border-radius: 10px;


}
.booking .from select option {
    background-color: #fffafa7c;
    border-radius: 5px;

}
.booking .from input {
    display: block;
    width: 80%;
    display: flex;
  margin: 20px auto;
 border: 1px solid rgb(48, 48, 168);
padding: 15px 20px ;
border-radius: 10px;

}
.booking .from button {
    width: 50%;
height: 50px;
padding: 10px 30px;
margin-left: 25%;
background-color: var(--orange-color);
color: #fff;
transition: 0.3s;
cursor: pointer;
margin-bottom: 30px;
}
.booking .from button:hover {
    opacity: 0.5;
}
@media(max-width:1100px) {
    .booking .from {
        width: 45%;
    }

}
@media(max-width:900px) {
    .booking .from {
        width: 58%;
    }

}
@media(max-width:650px) {
    .booking .from {
        width: 68%;
    }

}
@media(max-width:520px) {
    .booking .from {
        width: 78%;
    }

}
@media(max-width:430px) {
    .booking .from {
        width: 88%;
    }
    .booking .from select {
        width: 95%;
    }
    .booking .from input {
        width: 95%;
    }


}







